<%= "# This file is managed with Puppet." %>
<%-
@auth_provider = (@auth_source == "AD") ? "krb5" : "ldap"

%>


[sssd]
config_file_version = 2
domains = <%= @realm %>
<% if @ad_automount_home %>
services = nss, pam, autofs
<% else %>
services = nss, pam
<% end %>

<%= @debug_sssd ? "debug_level = 9" : "" %>

[nss]
<%= @debug_sssd ? "debug_level = 9" : "" %>

[pam]
<%= @debug_sssd ? "debug_level = 9" : "" %>

<% if @ad_automount_home %>
[autofs]
<%= @debug_sssd ? "debug_level = 9" : "" %>
<% end %>

[domain/<%= @realm.downcase %>]
<%= @debug_sssd ? "debug_level = 0x0FF0" : "" %>

ldap_referrals = false
enumerate = false

id_provider = ldap
auth_provider = <%= @auth_provider %>
chpass_provider = <%= @auth_provider %>
# Access control is done with pam_access.so instead:
access_provider = simple
# Keeping all the simple_* variables empty (the default)
# causes the Simple Access Provider to always grant access.

<% if @directory_source == "AD" %>

ldap_uri = <%= @ad_server_urls_for_sssd %>
ldap_sasl_mech = gssapi
ldap_schema = ad
ldap_account_expire_policy = ad
ldap_user_search_base = <%= @ad_server_base_dn %>
ldap_group_search_base = OU=AppGroups,<%= @ad_server_base_dn %>???OU=UnitGroups,<%= @ad_server_base_dn %>??
ldap_use_tokengroups = false
ldap_force_upper_case_realm = true

<% else %>

ldap_uri = ldap://scoldap.epfl.ch/
ldap_schema = rfc2307
ldap_user_search_base = O=epfl,C=ch
ldap_group_search_base = O=epfl,C=ch
ldap_group_object_class = EPFLGroupOfPersons

<% end %>

ldap_force_upper_case_realm = true

krb5_realm = <%= @realm.upcase %>
krb5_server = <%= @realm.downcase %>

# Probably required with sssd 1.8.x and newer
krb5_canonicalize = false

<% if @ad_automount_home %>
ldap_autofs_search_base = OU=automaps,<%= @ad_server_base_dn %>
<% end %>
